*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Saira Extra Condensend', sans-serif;
}

html, body {
    height: 100%;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: mediumaquamarine;
}

.pos-side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img{ text-align: center;}

.img img{
    height: 100%;
    width: 80%;
    border: 5px solid rgb(146, 233, 204);
    border-radius: 50%;
}

.main {
    display: flex;
}

.menu {
    margin: 20px 0;
    text-align: center;
    position: relative;
    /*left: -20px;*/
}

.menu a {
    color: #222;
    opacity: 0.4;
    font-size: 25px;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
}

.menu a:hover {
    opacity: 1;
}

.conteudo {
    position: absolute;
    left: 20%;
    width: 70%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}

section.descricao {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.descricao h2 {
    color: #222;
    font-size: 45px;
}

.icons-social img{
    padding: 10px;
    width: 45px;
    height: 45px;
}

section.descricao h2 > span,
section.descricao h3 > span {
    color: mediumaquamarine;
}

section.descricao h3 {
    margin: 15px 0;
    color: #222;
    font-size: 25px;
}

section.descricao p {
    color: #222;
    font-size: 20px;
    margin-top: 40px;
}

.icons-social{
    margin-top: 20px;
}

.selected {
    opacity: 1;
}

